# Dossiers build
build/
dist/
.next/ # Si vous utilisez Next.js

# Dépendances
node_modules/

# Fichiers de configuration
.env
.env.local
.env.development.local
.env.production.local

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers auto-générés ou de cache
coverage/